05-cxf/RegistrationRequest/src/main/webapp/wsdl/rrimpl_schema1.xsd

<xs:schema xmlns:tns="http://tut02/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://tut02/" version="1.0">

  <xs:element name="regReq" type="tns:regReq"/>

  <xs:element name="regReqResponse" type="tns:regReqResponse"/>

  <xs:complexType name="regReq">
    <xs:sequence>
      <xs:element name="arg0" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="regReqResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
